In [ ]:
#!sudo apt-get install -y fonts-nanum
#!sudo fc-cache -fv
#!rm ~/.cache/matplotlib -rf

In [ ]:
import json
import pandas as pd     #provides wide variety tools for data analysis,many inbuilt methods for grouping, combining and filtering data.
import numpy as np      #for some basic mathematical operations
from matplotlib import pyplot as plt #comprehensive library for creating static, animated, and interactive visualizations
import matplotlib as mpl
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import  LabelEncoder
import seaborn as sns                #  high-level interface for drawing attractive and informative statistical graphics
import folium
from folium import plugins
import missingno as mnso
import warnings
warnings.filterwarnings('ignore')

mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams["font.family"] = 'NanumGothic'

pd.pandas.set_option('display.max_columns',None)
%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
def datainfo(data):
    temp_ps = pd.DataFrame(index=data.columns)
    temp_ps['DataType'] = data.dtypes
    temp_ps["Non-null_Values"] = data.count()
    temp_ps['Unique_Values'] = data.nunique()
    temp_ps['NaN_Values'] = data.isnull().sum()
    temp_ps['NaN_Values_Percentage'] = (temp_ps['NaN_Values']/len(data))*100 
    return temp_ps

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/데이터 처리/3. 공공자전거 대여소 정보(22.06월 기준).csv", encoding='utf-8')

In [ ]:
#필요없는 컬럼 탈락
data.drop(columns=['보관소(대여소)명'],inplace=True)
data.drop(columns=['상세주소'],inplace=True)
data.drop(columns=['위도'],inplace=True)
data.drop(columns=['경도'],inplace=True)
data.drop(columns=['설치시기'],inplace=True)

In [ ]:
data =data.fillna(0)

In [ ]:
data['대여소별 자전거 대수'] = data['LCD']+data['QR']

In [ ]:
data.drop(columns=['LCD'], inplace=True)
data.drop(columns=['QR'], inplace=True)
data.drop(columns=['운영방식'], inplace=True)

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/데이터 처리/서울특별시 공공자전거 이용정보(시간대별)_21.01.csv', encoding='utf-8')

In [ ]:
# df2 = pd.read_csv('/content/drive/MyDrive/데이터 처리/서울특별시 공공자전거 이용정보(시간대별)_21.02.csv', encoding='utf-8')

In [ ]:
# df3 = pd.read_csv('/content/drive/MyDrive/데이터 처리/서울특별시 공공자전거 이용정보(시간대별)_21.03.csv', encoding='utf-8')

In [ ]:
# df4 = pd.read_csv('/content/drive/MyDrive/데이터 처리/서울특별시 공공자전거 이용정보(시간대별)_21.04.csv', encoding='utf-8')

In [ ]:
# df5 = pd.read_csv('/content/drive/MyDrive/데이터 처리/서울특별시 공공자전거 이용정보(시간대별)_21.05.csv', encoding='utf-8')

In [ ]:
# df6 = pd.read_csv('/content/drive/MyDrive/데이터 처리/서울특별시 공공자전거 이용정보(시간대별)_21.06.csv', encoding='utf-8')

In [ ]:
# df7 = pd.read_csv('/content/drive/MyDrive/데이터 처리/서울특별시 공공자전거 이용정보(시간대별)_21.07.csv', encoding='utf-8')

In [ ]:
# df8 = pd.read_csv('/content/drive/MyDrive/데이터 처리/서울특별시 공공자전거 이용정보(시간대별)_21.08.csv', encoding='utf-8')

In [ ]:
# df9 = pd.read_csv('/content/drive/MyDrive/데이터 처리/서울특별시 공공자전거 이용정보(시간대별)_21.09.csv', encoding='utf-8')

In [ ]:
# df10 = pd.read_csv('/content/drive/MyDrive/데이터 처리/서울특별시 공공자전거 이용정보(시간대별)_21.10.csv', encoding='utf-8')

In [ ]:
# df11 = pd.read_csv('/content/drive/MyDrive/데이터 처리/서울특별시 공공자전거 이용정보(시간대별)_21.11.csv', encoding='utf-8')

In [ ]:
# df12 = pd.read_csv('/content/drive/MyDrive/데이터 처리/서울특별시 공공자전거 이용정보(시간대별)_21.12.csv', encoding='utf-8')

In [ ]:
# df = pd.concat([df1, df2])

In [ ]:
# df = pd.concat([df, df3])

In [ ]:
# df = pd.concat([df, df4])

In [ ]:
# df = pd.concat([df, df5])

In [ ]:
# df = pd.concat([df, df6])

In [ ]:
# df = pd.concat([df, df7])

In [ ]:
# df = pd.concat([df, df8])

In [ ]:
# df = pd.concat([df, df9])

In [ ]:
# df = pd.concat([df, df10])

In [ ]:
# df = pd.concat([df, df11])

In [ ]:
# df = pd.concat([df, df12])

In [ ]:
weather = pd.read_csv('/content/drive/MyDrive/데이터 처리/SURFACE_ASOS_108_HR_2021_2021_2022_1.csv', encoding='utf-8')

In [ ]:
weather = weather.fillna(0.0)

In [ ]:
weather['일시'] = weather['일시'].astype('datetime64[ns]')
weather['월'] = weather['일시'].dt.month
weather['일'] = weather['일시'].dt.day
weather['대여시간'] = weather['일시'].dt.hour

In [ ]:
weather.drop(columns=['지점'], inplace=True)

In [ ]:
df['대여일자'] = pd.to_datetime(df['대여일자'], errors = 'coerce')

In [ ]:
df['이용건수'] = pd.to_numeric(df['이용건수'], errors = 'coerce')

In [ ]:
df.drop(columns=['대여구분코드'], inplace=True)
df.drop(columns=['성별'], inplace=True)
df.drop(columns=['연령대코드'], inplace=True)
df.drop(columns=['운동량'], inplace=True)

In [ ]:
df.drop(columns=['탄소량'], inplace=True)

In [ ]:
df['월'] = df['대여일자'].dt.month
df['일'] = df['대여일자'].dt.day
df['요일'] = df['대여일자'].dt.dayofweek
df.head()

,대여일자,대여시간,대여소번호,대여소명,이용건수,이동거리,사용시간,월,일,요일
0,2021-01-01,0,1347,1347. 길음래미안아파트817동 상가 앞,2,992.78,13,1,1,4
1,2021-01-01,0,1349,1349. 월계2교 버스정류장 앞,1,1127.50,10,1,1,4
2,2021-01-01,0,1168,1168. 마곡엠밸리10단지 앞,1,0.00,7,1,1,4
3,2021-01-01,0,2619,2619. 석촌고분역 4번출구,1,1658.34,14,1,1,4
4,2021-01-01,0,536,536. 행당역 2번출구 앞,1,743.88,5,1,1,4

In [ ]:
df = df.merge(weather, on = ['월', '일', '대여시간'])

In [ ]:
# df = df.merge(data, on = '대여소번호')

In [ ]:
cols = ['대여소번호', '소재지(위치)', '월', '일', '대여시간', '요일', '기온(°C)', '풍속(m/s)', '강수량(mm)', '습도(%)']

df = df.groupby(cols)['이동거리', '사용시간', '이용건수'].agg({
    "이동거리": 'mean',
    '사용시간': 'mean',
    "이용건수": 'sum'
}).reset_index()
df.head()

KeyError: ignored

In [ ]:
df.describe().T

In [ ]:
#(대여소 위치(~~구), 월, 일, 시(대여시간), 요일, 기온, 풍속, 강수량, 습도, 이동거리, 사용시간, 이용건수)
#1. 저번에 사용했던 log1p, square root, cube root 그래프 그려봤는데 뭔가 정규분포 형태로 나타나지 않는 것 같다.
#2. 구별로 따로 처리를 해놔야 할지 모르겠다.

## train data와 test data 나누기

In [ ]:
drop_columns=['이용건수', '소재지(위치)','이동거리','사용시간']

X=df.drop(drop_columns,axis=1)
y=df['이용건수']

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

print(f'The shape of the train and test set for the independent variables are : X_train = {X_train.shape}, X_test = {X_test.shape}')
print(f'The shape of the train and test set for the dependent variables are : y_train = {y_train.shape}, y_test = {y_test.shape}')

## 모델링

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.model_selection import cross_val_score

def print_score(name, score):
  print(f'{name}: {sum(score) / len(score)}')

In [ ]:
## random forest
rf_model = RandomForestRegressor()
rf_model.fit(X_train, y_train)

rf_scores = cross_val_score(rf_model, X_test, y_test, cv=5)

In [ ]:
## gradient boosting
gbm_model = GradientBoostingRegressor()
gbm_model.fit(X_train, y_train)

gbm_scores = cross_val_score(gbm_model, X_test, y_test, cv=5)

In [ ]:
print_score('random forest',rf_scores)
print_score('gradient boosting',gbm_scores)

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

rf_params={'n_estimators':[20,50,10,100]}
gb_params={'max_depth':range(1,6,1),'n_estimators':[1,10,100]}

In [ ]:
grid_rf=GridSearchCV(RandomForestRegressor(), rf_params, refit=True, scoring='r2', cv=5, verbose=3)
grid_rf.fit(X_train,y_train)
rf_pred=grid_rf.predict(X_test)

In [ ]:
print("Best Parameters:",grid_rf.best_params_)
print("Best Score:",grid_rf.best_score_)

#### 아래는 NaN 값 뜨는 코드

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

rf_params={'n_estimators':[1,10,100]}
gb_params={'max_depth':range(1,6,1),'n_estimators':[1,10,100]}

In [ ]:
grid_rf=GridSearchCV(RandomForestRegressor(), rf_params, refit=True, scoring='accuracy', cv=5, verbose=3)
grid_rf.fit(X_train,y_train)
rf_pred=grid_rf.predict(X_test)

In [ ]:
print("Best Parameters:",grid_rf.best_params_)

In [ ]:
print('Random forest:',accuracy_score(y_test, rf_pred))

In [ ]:
grid_gb=GridSearchCV(GradientBoostingRegressor(), gb_params, refit=True, scoring='accuracy', cv=5, verbose=3)
grid_gb.fit(X_train,y_train)
gb_pred=grid_gb.predict(X_test)

In [ ]:
pred_1d = gb_pred.flatten() # 차원 펴주기
pred_class = np.around(pred_1d) # 반올림하기

In [ ]:
print("Best Parameters:",grid_gb.best_params_)

In [ ]:
print('Gradient boosting:',accuracy_score(y_test, pred_class))